# Importar librerias

In [32]:
# Importar librarias
import numpy as np
import pandas as pd

# Visualización
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Carga de datos

In [35]:
# Leer los datos desde el archivo CSV
df = pd.read_csv('/content/OnlineRetail.csv',sep=';')

# Descripcion del DF

In [49]:
#Descripcion del DataFrame de Forma específica 
#Numero de columnas
NumeroColumnas = df.shape[1]
print('Numero de columnas:', NumeroColumnas)
print('\n')
#Numero de filas
NumeroFilas = df.shape[0]
print('Total de filas o registros:', NumeroFilas)
print('\n')
#Tipo de datos
print('Tipos de datos por columna: \n',df.dtypes)
print('\n')
#Total de datos no NUll por columna
print('Total de datos no NUll por columna: \n',df.isna().count())
print('\n')
#Total de datos NUll por columna
print('Total de datos NUll por columna:\n',df.isna().sum())

Numero de columnas: 8


Total de filas o registros: 397924


Tipos de datos por columna:
 InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object


Total de datos no NUll por columna:
 InvoiceNo      397924
StockCode      397924
Description    397924
Quantity       397924
InvoiceDate    397924
UnitPrice      397924
CustomerID     397924
Country        397924
dtype: int64


Total de datos NUll por columna:
 InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [37]:
#Descipcion del DataFrame resumido
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [38]:
#Vistaso a la información del DF
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

# Consulta de Valores NULL

In [39]:
#Consulta de Valores NULL por Columna con valores Bool
print('valores NULL por Columna:')
df.isna().any()

valores NULL por Columna:

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [40]:
#Consulta de cantidad de valores NULL por Columna
print('Valores NULL por Columna:')
df.isna().sum()

Valores NULL por Columna:

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

# Eliminar Valores NULL

In [41]:
#Eliminacion de valores NULL por Columna
print('Se eliminan los datos NULL por columna')
df = df.dropna()

Se eliminan los datos NULL por columna

In [42]:
#Comprobacion de Datos NULL Eliminados
print('valores NULL por Columna:')
df.isna().any()

valores NULL por Columna:

InvoiceNo      False
StockCode      False
Description    False
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID     False
Country        False
dtype: bool

# Analisis de Incidencias

In [43]:
#Inspeccion de la informacion para descartar o identificar datos carentes de sentido
print('Revicíon de los Datos para evitar outliers')
df.describe()

Revicíon de los Datos para evitar outliers

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [44]:
#En la revición se puede observar valores que no tienen sentido por lo que se tienen que eliminar
print('Eliminar datos sin sentido')
df = df[df.Quantity>=0]

Eliminar datos sin sentido

In [45]:
#Confirmar la eliminacion de los registros Incorrectos
print('Confirmación de datos Eliminados')
df.describe()

Confirmacion de datos Eliminados

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

# Valores Unicos en el DataSet

In [48]:
#Valores Unicos por Columna
print('Valores únicos por columna:')
print('Quantity:    ' + str(len(df['Quantity'].unique())))
print('InvoiceNo:   ' + str(len(df['InvoiceNo'].unique())))
print('StockCode:   ' + str(len(df['StockCode'].unique())))
print('Description: ' + str(len(df['Description'].unique())))
print('InvoiceDate: ' + str(len(df['InvoiceDate'].unique())))
print('UnitPrice:   ' + str(len(df['UnitPrice'].unique())))
print('CustomerID:  ' + str(len(df['CustomerID'].unique())))
print('Country:     ' + str(len(df['Country'].unique())))

Valores únicos por columna:
Quantity:    302
InvoiceNo:   18536
StockCode:   3665
Description: 3877
InvoiceDate: 17286
UnitPrice:   441
CustomerID:  4339
Country:     37

Con base a la limpiesa previa de los datos para el scv OnlineRetail, es posible continuar con la graficación y otras cosas necesarias para el modelado de ML